@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
    --kuri-soft-white: #F8F6F5;
    --kuri-white: #FFFF;
    --kuri-grey: #F8F6F6;
    --kuri-green: #53A06E;
    --kuri-red: #BF0000;
    --kuri-blue: #002CB9;
    --kuri-orange: #FE8235;
    --kuri-pink: #FEF3E7;
    --kuri-brown: #573926;
    --kuri-black: #0000;
    --kuri-fade: #B7B7B7;
    --kuri-peach: #FEF3E7;
    --kuri-bg: #FBFBFB;

    --bg-soft-white: #F8F6F5;
    --bg-white: #FFFF;
    --bg-grey: #F8F6F6;
    --bg-green: #53A06E;
    --bg-red: #BF0000;
    --bg-blue: #002CB9;
    --bg-orange: #FE8235;
    --bg-pink: #FEF3E7;
    --bg-brown: #573926;
    --bg-black: #0000;
    --bg-fade: #B7B7B7;
    --bg-peach: #FEF3E7;
    --bg-background: #FBFBFB;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 6em;
    /* Margin bottom by footer height */
    background-color: var(--kuri-bg);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
.breadcrumb{
    font-size: 11px;
}
.breadcrumb >.active {
    color: black;
    font-weight: bold;
 }
 .breadcrumb a{
    text-decoration: none;
 }
.btn-orange {
    background-color: var(--kuri-orange);
    color: var(--kuri-white);
    font-weight: 700;
    font-size: 14px;
}

.btn-blue {
    background-color: var(--kuri-blue);
    color: var(--kuri-white);
    font-weight: 700;
    font-size: 14px;
}

.btn-brown {
    background-color: var(--kuri-brown);
    color: var(--kuri-white);
    font-weight: 700;
    font-size: 14px;
}

.btn-green {
    background-color: var(--kuri-green);
    color: var(--kuri-white);
    font-weight: 700;
    font-size: 14px;
}

.btn-red {
    background-color: var(--kuri-red);
    color: var(--kuri-white);
    font-weight: 700;
    font-size: 14px;
}

.btn-white {
    background-color: var(--kuri-white);
    color: var(--kuri-black);
    font-weight: 700;
    font-size: 14px;

}

.btn-orange {
    background-color: #FE8235;
    color: white;
}

.bg-orange {
    background-color: #FE8235;
    color: white;
}
.bg-orange {
    background-color: var(--kuri-green);
    color: white;
}

.note-peach {
    background-color: var(--kuri-peach);
    color: var(--kuri-brown);

}

.slot-orange {
    background-color: var(--kuri-peach);
    color: var(--kuri-brown);
    border-radius: 2em;
}

.search-message {
    background-color: var(--kuri-grey);
    border-radius: 2em;
}

.text-bg-orange {
    background-color: RGBA(var(--kuri-orange), var(--bs-bg-opacity, 1)) !important;
}

.fc-white {
    color: var(--kuri-white);
}

.fc-brown {
    color: var(--kuri-brown);
}

.fc-orange {
    color: var(--kuri-orange);
}

.fc-fade {
    color: var(--kuri-fade);
}

.ff-orange {
    background-color: var(--kuri-orange);
}

.fc-green-bold {
    color: var(--kuri-green);
    font-size: 17px;
    font-weight: 800;
}

/* 
*{
    border: #371B34 solid 1px;
} */
* {
    font-family: 'Inter', sans-serif;
    color: #371B34;
}

a {
    color: #371B34;
}

p {
    color: #573926;
    font-weight: 500;
}

input {
    border: none;
}

i.bi {
    font-size: 25px;
}

.circular-image {
    border: 2px solid #F09E5478;
    /* Change the border color as needed */
    border-radius: 50%;
    /* Make the image circular */
    width: 45px;
    /* Set the desired width */
    height: 45px;
    /* Set the desired height */

}

.circular-image-medium {
    border: 2px solid #F09E5478;
    /* Change the border color as needed */
    border-radius: 50%;
    /* Make the image circular */
    width: 60px;
    /* Set the desired width */
    height: 60px;
    /* Set the desired height */
}

.fav {
    border-radius: 10px;
    border: 1px solid #F4F4F4;
    background: var(--kuri-grey);
}

.square-image {
    width: 100px;
    height: 100px;
}

.notif-card-white {
    background-color: var(--kuri-white);
    border-radius: 10px;
    margin-bottom: 10px;
}
.bg-brown{
    background-color: var(--kuri-brown);
}
